.header,
.footer {
    @include flex($align: space-between);
    padding: 2rem;
    background-color: $color-primary;

    @include media-laptop {
        @include flex($align: center, $direction: column);
    }
}

.personal-wrap {
    flex-basis: 48%;

    @include flex($justify: flex-start, $align: flex-end);

    & > img:first-child {
        @include size($width: 15rem);
        @include border($width: 5px);
        @include shadow;

        @include media-tablet {
            width: 10rem;
            height: 10rem;
            margin: 2rem;
        }
    }

    @include media-tablet {
        @include flex($align: center, $direction: column);
    }
}

.texts {
    @include flex($direction: column, $justify: flex-end, $align: flex-start);
    margin-left: 1rem;

    @include media-tablet {
        align-items: center;
        margin-left: 0;
        text-align: center;
    }
}

h1 {
    margin: 0;
}

h2 {
    margin: 0;
    color: $color-additional;
}

.quote-wrap {
    @include flex($align: flex-end, $direction: column, $justify: space-between);
    flex-basis: 48%;

    @include media-laptop{
        width: 100%;
        align-items: center;
        padding-top: 2rem;
    }

}

blockquote {
    margin: 0;
    font-family: 'Courgette', cursive;
    font-size: 2rem;
    text-align: right;

    @include media-tablet {
        margin: 1rem 0;
        text-align: center;
    }

    @include media-mobile {
        display: none;
    }
}

.year,
.link-pr {
    align-self: flex-end;

    @include media-laptop {
        align-self: center;
        padding: 2rem;
    }
}